<!DOCTYPE html>
<html lang="en">
  <head>
 <% include ./partials/head.ejs %>
  </head>
  <body>

   <% include ./partials/navbar.ejs %>

      <!-- Page Content -->
      <main class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
          <h1 class="display-3">Welcome to Tripic</h1>
          <p class="lead">Find photographers at your travel destination by picking a location!</p>

          <form action="/destination/profiles" method="get">
            <div class="form-group">
              <label for="destinations">Destination</label>
              <select name="destinations" form="destinationform">
               <option value="newyork">New York, USA</option>
               <option value="rome">Rome, Italy</option>
               <option value="paris">Paris, France</option>
               <option value="london">London, UK</option>
             </select>
            </div>
            <button type="submit" class="btn btn-primary">Find photographers</button>
          </form>

          <p class="lead">Have an eye for photography? Sign up and offer your services!</p>
          <a href="/users/signup" class="btn btn-primary btn-lg">Sign up</a>
        </header>

        <!-- Page Features -->
        <section class="row text-center">

          <section class="col-lg-4">
            <h4 class="card-title">Destination</h4>
            <p class="card-text">Search for photographers at your travel destination.</p>
          </section>

          <section class="col-lg-4">
            <h4 class="card-title">Memories</h4>
            <p class="card-text">Have someone capture your priceless memories!</p>
          </section>

          <section class="col-lg-4">
            <h4 class="card-title">Make money!</h4>
            <p class="card-text">Have an eye for photopgraphy? Become a travel photographer in your city!</p>
          </section>

        </section>
        <!-- /.row -->

      </main>
      <!-- /.container -->

    <% include ./partials/baseScripts.ejs %>
    </body>
</html>
