<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>

      <h1>Photographer profiles</h1>

      <ul class="list-group">
<!-- #1 -->
        <% users.forEach((user) => { %>
<!-- #2 -->
          <li class="list-group-item">
            <a href="/users/<%= user.id %>"> <%= user.email %> </a>
          </li>
        
        <% }) %>
      </ul>

    </main>
  </body>
</html>
